VITE_SUPABASE_URL=https://lktrvwfzuutvkrsclalf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxrdHJ2d2Z6dXV0dmtyc2NsYWxmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NjIwMDgsImV4cCI6MjA4OTQzODAwOH0.6v1TXKQSDbayuRhgzgDIDHzhw0hDD3ryL0QL7E01iGY
VITE_GOOGLE_MAPS_API_KEY=AIzaSyASmCYx4bG2CvFyrV2Vj_XGhHzFnIDsZLw
